<form [formGroup]="form" class="filters-form">

  <!-- Search -->
  <mat-form-field appearance="outline" class="filter-search">
    <mat-label>{{ 'CONTACTS.SEARCH' | translate }}</mat-label>
    <input matInput formControlName="search" [placeholder]="'CONTACTS.FILTERS.SEARCH_PLACEHOLDER' | translate" autocomplete="off" />
    <mat-icon matPrefix>search</mat-icon>
    @if (form.get('search')?.value) {
      <button matSuffix mat-icon-button (click)="form.get('search')?.setValue('')" [attr.aria-label]="'COMMON.CLEAR' | translate">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <!-- Status -->
  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>{{ 'CONTACTS.COLUMNS.STATUS' | translate }}</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="null">{{ 'CONTACTS.FILTERS.ALL_STATUSES' | translate }}</mat-option>
      @for (opt of statusOptions; track opt.value) {
        <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Assigned to -->
  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>{{ 'CONTACTS.COLUMNS.ASSIGNED' | translate }}</mat-label>
    <mat-select formControlName="assignedTo">
      <mat-option [value]="null">{{ 'CONTACTS.FILTERS.ANYONE' | translate }}</mat-option>
      @for (m of teamMembers(); track m.id) {
        <mat-option [value]="m.id">{{ m.fullName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Company -->
  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>{{ 'CONTACTS.COLUMNS.COMPANY' | translate }}</mat-label>
    <mat-select formControlName="companyId">
      <mat-option [value]="null">{{ 'CONTACTS.FILTERS.ALL_COMPANIES' | translate }}</mat-option>
      @for (c of companies(); track c.id) {
        <mat-option [value]="c.id">{{ c.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Date range -->
  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>{{ 'CONTACTS.FILTERS.CREATED_FROM' | translate }}</mat-label>
    <input matInput [matDatepicker]="fromPicker" formControlName="dateFrom" />
    <mat-datepicker-toggle matIconSuffix [for]="fromPicker" />
    <mat-datepicker #fromPicker />
  </mat-form-field>

  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>{{ 'CONTACTS.FILTERS.CREATED_TO' | translate }}</mat-label>
    <input matInput [matDatepicker]="toPicker" formControlName="dateTo" />
    <mat-datepicker-toggle matIconSuffix [for]="toPicker" />
    <mat-datepicker #toPicker />
  </mat-form-field>

  <!-- Reset -->
  @if (hasActiveFilters()) {
    <button mat-stroked-button class="reset-btn" (click)="reset()" type="button">
      <mat-icon>filter_alt_off</mat-icon>
      {{ 'CONTACTS.FILTERS.CLEAR' | translate }}
    </button>
  }

</form>
